@import '~normalize.css';
@import 'roboto.css';

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 2rem;
    min-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/webpack-logo.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.code {
    color: crimson;
}